<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="welcome">
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="home"></i>
        <span><a routerLink="welcome">首页</a></span>
      </li>
      <li nz-submenu nzTitle="分类" nzIcon="menu">
        <ul>
          <li nz-menu-item>默认分类</li>
          <li nz-menu-item>类A</li>
          <li nz-menu-item>类B</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        Bill is a cat.
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
  <ng-template #welcome>
    <app-welcome></app-welcome>
  </ng-template>
</nz-layout>
